body {
  margin-inline: 30%;
}

li {
  position: relative;
  padding-inline-start: 40px;
  list-style: none;
  margin-block: 1rem;
}

li::before {
  content: '';
  display: inline-block;
  width: 30px; /* Set the width of the user icon */
  height: 30px; /* Set the height of the user icon */
  background: url('dog.png') center center no-repeat;
  background-size: cover; /* Adjust as needed */

  position: absolute;
  left: 0;
  top: 5px;
}

.author-name {
  border: 2px dashed pink;
}

ul {
  padding: 0;
}

input[name="body"] {
  padding: 5px;
}

.error {
  color: red;
}